<div class="stage flex-fill">
  <div class="stage-info media">
    <div class="stage-title media-body">All <%= current_user.email %>'s Lists</div>
    <div class="stage-actions">
      <%= link_to 'New list', new_todo_list_path, class: "stage-actions-primary" %>
    </div>
  </div>
  <div class="stage-list">
    <div class="checklist">
      <% @todo_lists.each do |todo_list| %>
        <div class="checklist-item media">
          <%= link_to todo_list.title, todo_list, class: "media-body" %>
          <%= link_to edit_todo_list_path(todo_list) do %>
            <%= fa_icon "pencil" %>
          <% end %>
          <%= link_to todo_list, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <%= fa_icon "trash" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
